(
  resources: {
    "bevy_orbit::serialization::StartPoint": (Some((-36.5856, 96.76989))),
  },
  entities: {
    17179869244: (
      components: {
        "avian2d::collision::collider::layers::CollisionLayers": (
          memberships: (2),
          filters: (1),
        ),
        "bevy_orbit::game::GameTrigger": (),
        "bevy_orbit::serialization::GameSerializable": (),
        "bevy_orbit::serialization::SerializableCollider": (Circle(
          radius: 10.0,
        )),
        "bevy_orbit::serialization::SerializableMesh": Primitive(
          shape: Circle((
            radius: 10.0,
          )),
        ),
        "bevy_orbit::serialization::SerilializableMeshMaterial": Color((
          color: Srgba((
            red: 0.1,
            green: 0.3,
            blue: 0.7,
            alpha: 1.0,
          )),
          alpha_mode: Opaque,
          uv_transform: (1.0, 0.0, 0.0, 1.0, 0.0, 0.0),
          texture: None,
        )),
        "bevy_transform::components::transform::Transform": (
          translation: (-77.09996, 48.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    34359738393: (
      components: {
        "avian2d::collision::collider::layers::CollisionLayers": (
          memberships: (2),
          filters: (1),
        ),
        "bevy_orbit::game::GameTrigger": (),
        "bevy_orbit::serialization::GameSerializable": (),
        "bevy_orbit::serialization::SerializableCollider": (Circle(
          radius: 10.0,
        )),
        "bevy_orbit::serialization::SerializableMesh": Primitive(
          shape: Circle((
            radius: 10.0,
          )),
        ),
        "bevy_orbit::serialization::SerilializableMeshMaterial": Color((
          color: Srgba((
            red: 0.1,
            green: 0.3,
            blue: 0.7,
            alpha: 1.0,
          )),
          alpha_mode: Opaque,
          uv_transform: (1.0, 0.0, 0.0, 1.0, 0.0, 0.0),
          texture: None,
        )),
        "bevy_transform::components::transform::Transform": (
          translation: (-125.69998, 90.60002, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    34359738395: (
      components: {
        "avian2d::collision::collider::layers::CollisionLayers": (
          memberships: (1),
          filters: (4294967295),
        ),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "avian2d::dynamics::rigid_body::mass_properties::components::Mass": (5.0),
        "bevy_orbit::LevelObject": (),
        "bevy_orbit::game::KillOnCollision": (),
        "bevy_orbit::gravity::Gravity": (),
        "bevy_orbit::gravity::GravityLayers": (
          memberships: (2),
          filters: (3),
        ),
        "bevy_orbit::serialization::GameSerializable": (),
        "bevy_orbit::serialization::SerializableCollider": (Circle(
          radius: 10.0,
        )),
        "bevy_orbit::serialization::SerializableMesh": Primitive(
          shape: Circle((
            radius: 10.0,
          )),
        ),
        "bevy_orbit::serialization::SerilializableMeshMaterial": Color((
          color: Oklaba((
            lightness: 1.0,
            a: 0.7,
            b: 0.3,
            alpha: 1.0,
          )),
          alpha_mode: Opaque,
          uv_transform: (1.0, 0.0, 0.0, 1.0, 0.0, 0.0),
          texture: None,
        )),
        "bevy_transform::components::transform::Transform": (
          translation: (-287.70004, 86.40001, 0.0),
          rotation: (0.0, 0.0, -0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    34359738397: (
      components: {
        "avian2d::collision::collider::layers::CollisionLayers": (
          memberships: (2),
          filters: (1),
        ),
        "bevy_orbit::game::GameTrigger": (),
        "bevy_orbit::serialization::GameSerializable": (),
        "bevy_orbit::serialization::SerializableCollider": (Circle(
          radius: 10.0,
        )),
        "bevy_orbit::serialization::SerializableMesh": Primitive(
          shape: Circle((
            radius: 10.0,
          )),
        ),
        "bevy_orbit::serialization::SerilializableMeshMaterial": Color((
          color: Srgba((
            red: 0.1,
            green: 0.3,
            blue: 0.7,
            alpha: 1.0,
          )),
          alpha_mode: Opaque,
          uv_transform: (1.0, 0.0, 0.0, 1.0, 0.0, 0.0),
          texture: None,
        )),
        "bevy_transform::components::transform::Transform": (
          translation: (-86.700005, 141.60004, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    34359738399: (
      components: {
        "avian2d::collision::collider::layers::CollisionLayers": (
          memberships: (1),
          filters: (4294967295),
        ),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "avian2d::dynamics::rigid_body::mass_properties::components::Mass": (5.0),
        "bevy_orbit::LevelObject": (),
        "bevy_orbit::game::KillOnCollision": (),
        "bevy_orbit::gravity::Gravity": (),
        "bevy_orbit::gravity::GravityLayers": (
          memberships: (2),
          filters: (3),
        ),
        "bevy_orbit::serialization::GameSerializable": (),
        "bevy_orbit::serialization::SerializableCollider": (Circle(
          radius: 10.0,
        )),
        "bevy_orbit::serialization::SerializableMesh": Primitive(
          shape: Circle((
            radius: 10.0,
          )),
        ),
        "bevy_orbit::serialization::SerilializableMeshMaterial": Color((
          color: Oklaba((
            lightness: 1.0,
            a: 0.7,
            b: 0.3,
            alpha: 1.0,
          )),
          alpha_mode: Opaque,
          uv_transform: (1.0, 0.0, 0.0, 1.0, 0.0, 0.0),
          texture: None,
        )),
        "bevy_transform::components::transform::Transform": (
          translation: (-80.7, 94.20002, 0.0),
          rotation: (0.0, 0.0, -0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    34359738400: (
      components: {
        "avian2d::collision::collider::layers::CollisionLayers": (
          memberships: (2),
          filters: (1),
        ),
        "bevy_orbit::game::GameTrigger": (),
        "bevy_orbit::serialization::GameSerializable": (),
        "bevy_orbit::serialization::SerializableCollider": (Circle(
          radius: 10.0,
        )),
        "bevy_orbit::serialization::SerializableMesh": Primitive(
          shape: Circle((
            radius: 10.0,
          )),
        ),
        "bevy_orbit::serialization::SerilializableMeshMaterial": Color((
          color: Srgba((
            red: 0.1,
            green: 0.3,
            blue: 0.7,
            alpha: 1.0,
          )),
          alpha_mode: Opaque,
          uv_transform: (1.0, 0.0, 0.0, 1.0, 0.0, 0.0),
          texture: None,
        )),
        "bevy_transform::components::transform::Transform": (
          translation: (-233.10002, 87.00002, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    317827579932: (
      components: {
        "avian2d::collision::collider::layers::CollisionLayers": (
          memberships: (1),
          filters: (4294967295),
        ),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "avian2d::dynamics::rigid_body::mass_properties::components::Mass": (5.0),
        "bevy_orbit::LevelObject": (),
        "bevy_orbit::game::KillOnCollision": (),
        "bevy_orbit::gravity::Gravity": (),
        "bevy_orbit::gravity::GravityLayers": (
          memberships: (2),
          filters: (3),
        ),
        "bevy_orbit::serialization::GameSerializable": (),
        "bevy_orbit::serialization::SerializableCollider": (Circle(
          radius: 10.0,
        )),
        "bevy_orbit::serialization::SerializableMesh": Primitive(
          shape: Circle((
            radius: 10.0,
          )),
        ),
        "bevy_orbit::serialization::SerilializableMeshMaterial": Color((
          color: Oklaba((
            lightness: 1.0,
            a: 0.7,
            b: 0.3,
            alpha: 1.0,
          )),
          alpha_mode: Opaque,
          uv_transform: (1.0, 0.0, 0.0, 1.0, 0.0, 0.0),
          texture: None,
        )),
        "bevy_transform::components::transform::Transform": (
          translation: (-183.29997, 86.40001, 0.0),
          rotation: (0.0, 0.0, -0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    317827579939: (
      components: {
        "bevy_orbit::serialization::GameSerializable": (),
        "bevy_orbit::serialization::SerializableMesh": Zone(
          zone: (
            vertices: [
              (0.0, 0.0),
              (-376.90002, -182.40001),
              (-259.90002, -82.80001),
              (-132.09995, -224.40001),
            ],
            indices: [
              0,
              0,
              1,
              0,
              1,
              2,
              0,
              2,
              3,
              0,
              3,
              4,
              0,
              12,
              1,
            ],
          ),
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 0.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
  },
)